.search_items_list{
    max-height: 335px;
    overflow-y: auto;
    li{
        width: 50%;
        cursor: pointer;
    }
}

.ingredients,
.utensils{
    max-width: 450px;
}

.machines{
    max-width: 225px;
        li{
            width: 100%;
    }
}

