*{
    box-sizing: border-box
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.logo{
    width: 268px;
}

a{
    text-decoration: none;
    color: white;
}

input,
input:active,
input:focus{
    border: 0 !important;
    outline: none;
}

input::placeholder{
    color: inherit;
}

h1, h2, h3{
    margin: 0;
    font-weight: 400;
}

ul{
    list-style: none;
    margin: 0;
}

.main{
    margin-top: 105px;
    margin-bottom: 60px;
}