// BG Colors
$light : #E7E7E7;
$dark : #C7BEBE;
$success : #68D9A4;
$primary : #3282F7;
$danger : #ED6454;

// Positioning
$position-values: (
  0: 0,
  30: 30px,
  50: 50%,
  100: 100%
);

//font sizes
$h1-font-size : 1.125rem;
$h2-font-size : 0.875rem;
$h3-font-size : 0.75rem;
